.container {
  position: relative;
  width: 100%;
  height: 70vh; /* Cover 3/4 of the page height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 41, 41); /* Fallback background color */
  /* padding-top: 4vh; */
  /* padding-bottom: 4vh; */
}
.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 200px;
  width: 100%; /* Adjust the width of the pseudo-element */
  height: 100%; /* Adjust the height of the pseudo-element */
  background-image: url('/images/homeImages/Untitled\ design.svg'); /* Set background image */
  background-size:1890px 1000px; /* Set the specific size for the background image */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  filter: brightness(0.6); /* Apply brightness filter only to the background image */
}

.content {
  text-align: center; /* Center the text inside the content container */
  max-width: 1000px;
  margin-top: -50px;
}

/* Animation Class */
.animate {
  animation: slideIn 3.5s ease forwards;
}

/* Keyframes for Animation */
@keyframes slideIn {
  0% {
    transform: translateY(140%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  font-size: 50px;
  margin: 10px 0; /* Optional margin */
  color: white;
  text-align: center; 
}

.subtitle {
  font-size: 50px;
  margin: 10px 0; /* Optional margin */
  color: #FF7F00;
  text-align: center;  
}

.description1 {
  font-size: 20px;
  margin: 10px 0; /* Optional margin */
  color: white;
  text-align: justify; 
  line-height: 1.4; /* Adjust this value for line gap */
}

.description2 {
  font-size: 20px;
  margin: 20px 0; /* Optional margin */
  color: white;
  text-align: justify; 
  line-height: 1.4; /* Adjust this value for line gap */
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .title {
    font-size: 30px; /* Adjust title size for mobile */
    margin: 30px 0; /* Adjust margin for mobile */
  }

  .subtitle {
    font-size: 40px; /* Adjust subtitle size for mobile */
    margin: 30px 0; /* Adjust margin for mobile */
  }

  .description1, .description2 {
    font-size: 16px; /* Adjust description size for mobile */
    margin: 10px 0; /* Optional margin */
  }

  .content {
    margin-top: 1px;
    text-align: center; /* Ensure text is centered on smaller screens */
    padding: 20px;
    margin-bottom: 10px;
  }

  .container {
    width: 100%;
    height: auto; /* Cover full height on mobile */
    background-color: rgb(43, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 200px;
    width: 100%; /* Adjust the width of the pseudo-element */
    height: 100%; /* Adjust the height of the pseudo-element */
    background-image: url('/images/homeImages/Untitled\ design.svg'); /* Set background image */
    background-size:700px 750px; /* Set the specific size for the background image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    filter: brightness(0.6); /* Apply brightness filter only to the background image */
  }
  /* Animation Class */
.animate {
  animation: slideIn 3.5s ease forwards;
}
}
